In [4]:
import pprint
import requests
import pandas as pd
import re
from bs4 import BeautifulSoup
from datetime import date

In [5]:
#df_old = pd.read_csv("brd_covid_19.csv",parse_dates=[5])

In [387]:
today = "2020-03-12"

In [388]:
URL = "https://web.archive.org/web/20200312200602/https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html"

In [389]:
page = requests.get(URL)

In [390]:
soup = BeautifulSoup(page.content, 'html.parser')

In [391]:
results = soup.find_all("tr")

In [392]:
bundesland = []
faelle = []
tod = []
for idx,elm in enumerate(results):
    if idx > 0:
        bundesland.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[0])))
        faelle.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[1])))
        #tod.append(0)
        tod.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[2])))
    else:
        pass

In [393]:
#tod = [0,0,0,0,0,0,0,0,0,2,0,0,0,0,0]

In [394]:
tod

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '0',
 '0',
 '0',
 '',
 '0',
 '0',
 '3']

In [395]:
lat={"Baden-Württemberg":48.5, "Bayern":48.9, "Berlin":52.5, "Brandenburg":52, "Bremen":53.1, "Hamburg":53.5, 
     "Hessen":50.7, "Mecklenburg-Vorpommern":53.8, "Niedersachsen":52.57, "Nordrhein-Westfalen":51.6,"Rheinland-Pfalz":50, 
     "Saarland":49.4, "Sachsen":51.05, "Sachsen-Anhalt":52, "Schleswig-Holstein":54.2, "Thüringen":50.85, "Gesamt":51.06}
long={"Baden-Württemberg":9, "Bayern":11.4, "Berlin":13.4, "Brandenburg":13.87, "Bremen":8.8, "Hamburg":10, 
      "Hessen":9, "Mecklenburg-Vorpommern":12.5,"Niedersachsen":10, "Nordrhein-Westfalen":7.5,"Rheinland-Pfalz":7.3,
      "Saarland":6.97,"Sachsen":13.5, "Sachsen-Anhalt":11.65,"Schleswig-Holstein":9.9, "Thüringen":11.13,"Gesamt":10}

In [396]:
#lat=[48.5, 48.9, 53.4, 52.4, 53.1, 53.5, 50.7, 53.8, 53.87, 51.6,50, 49.4, 51.05, 52, 54.2, 50.85, 51.06]
#long=[9, 11.4, 13.2, 13, 8.8, 10, 9, 12.5,9.5, 7.5,7.3, 6.97,13.5, 11.65,9.9, 11.13,10]

In [397]:
df=pd.DataFrame(data=[bundesland,faelle,tod]).T

In [398]:
df

                         0      1  2
0        Baden-Württemberg    277  0
1                   Bayern    366  0
2                   Berlin     90  0
3              Brandenburg     24  0
4                   Bremen     21  0
5                  Hamburg     48  0
6                   Hessen     48  0
7   Mecklenburg-Vorpommern     17  0
8            Niedersachsen     75  0
9      Nordrhein-Westfalen    484  3
10         Rheinland-Pfalz     25  0
11                Saarland     14  0
12                 Sachsen     26  0
13          Sachsen-Anhalt     15
14      Schleswig-Holstein     27  0
15               Thüringen     10  0
16                  Gesamt  1.567  3

In [399]:
df["lat"]="NaN"
df["long"]="NaN"

In [400]:
df["date"] = today

In [401]:
df.columns = ["bundesland","faelle","tod","lat","long","datum"]

In [402]:
#df.drop(13, inplace=True)

In [403]:
df

                bundesland faelle tod  lat long       datum
0        Baden-Württemberg    277   0  NaN  NaN  2020-03-11
1                   Bayern    366   0  NaN  NaN  2020-03-11
2                   Berlin     90   0  NaN  NaN  2020-03-11
3              Brandenburg     24   0  NaN  NaN  2020-03-11
4                   Bremen     21   0  NaN  NaN  2020-03-11
5                  Hamburg     48   0  NaN  NaN  2020-03-11
6                   Hessen     48   0  NaN  NaN  2020-03-11
7   Mecklenburg-Vorpommern     17   0  NaN  NaN  2020-03-11
8            Niedersachsen     75   0  NaN  NaN  2020-03-11
9      Nordrhein-Westfalen    484   3  NaN  NaN  2020-03-11
10         Rheinland-Pfalz     25   0  NaN  NaN  2020-03-11
11                Saarland     14   0  NaN  NaN  2020-03-11
12                 Sachsen     26   0  NaN  NaN  2020-03-11
13          Sachsen-Anhalt     15      NaN  NaN  2020-03-11
14      Schleswig-Holstein     27   0  NaN  NaN  2020-03-11
15               Thüringen     10   0  NaN  NaN  2020-03-11
16                  Gesamt  1.567   3  NaN  NaN  2020-03-11

In [404]:
df = df[df.bundesland != "Repatriierte"].copy()
df.bundesland.replace("Schleswig Holstein","Schleswig-Holstein", inplace=True)

lat2=[]
long2=[]
for elm in df.bundesland.values:
    lat2.append(lat[elm])
    long2.append(long[elm])

In [405]:
df["lat"] = lat2
df["long"] = long2

In [406]:
df

                bundesland faelle tod    lat   long       datum
0        Baden-Württemberg    277   0  48.50   9.00  2020-03-11
1                   Bayern    366   0  48.90  11.40  2020-03-11
2                   Berlin     90   0  52.50  13.40  2020-03-11
3              Brandenburg     24   0  52.00  13.87  2020-03-11
4                   Bremen     21   0  53.10   8.80  2020-03-11
5                  Hamburg     48   0  53.50  10.00  2020-03-11
6                   Hessen     48   0  50.70   9.00  2020-03-11
7   Mecklenburg-Vorpommern     17   0  53.80  12.50  2020-03-11
8            Niedersachsen     75   0  52.57  10.00  2020-03-11
9      Nordrhein-Westfalen    484   3  51.60   7.50  2020-03-11
10         Rheinland-Pfalz     25   0  50.00   7.30  2020-03-11
11                Saarland     14   0  49.40   6.97  2020-03-11
12                 Sachsen     26   0  51.05  13.50  2020-03-11
13          Sachsen-Anhalt     15      52.00  11.65  2020-03-11
14      Schleswig-Holstein     27   0  54.20   9.90  2020-03-11
15               Thüringen     10   0  50.85  11.13  2020-03-11
16                  Gesamt  1.567   3  51.06  10.00  2020-03-11

In [407]:
df.tod = df.tod.replace(to_replace = "", value = "0", regex = True)

In [408]:
df.datum = pd.to_datetime(df.datum)

In [409]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 6 columns):
bundesland    17 non-null object
faelle        17 non-null object
tod           17 non-null object
lat           17 non-null float64
long          17 non-null float64
datum         17 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 952.0+ bytes

In [410]:
for idx,elm in enumerate(df.faelle):
    df.faelle[idx] = elm.replace(".","")

#for idx,elm in enumerate(df.tod):
    #df.tod[idx] = elm.replace(".","")

/Users/karstenyan/opt/anaconda3/envs/nf/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [411]:
#df.lat = df.lat.astype("float")
#df.long = df.long.astype("float")
df.tod = df.tod.astype("int64")
df.faelle = df.faelle.astype("int64")

In [412]:
#df=pd.concat([df_old,df]).reset_index().drop("index",axis=1)

In [413]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 6 columns):
bundesland    17 non-null object
faelle        17 non-null int64
tod           17 non-null int64
lat           17 non-null float64
long          17 non-null float64
datum         17 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 1.6+ KB

In [414]:
df

                bundesland  faelle  tod    lat   long      datum
0        Baden-Württemberg     277    0  48.50   9.00 2020-03-11
1                   Bayern     366    0  48.90  11.40 2020-03-11
2                   Berlin      90    0  52.50  13.40 2020-03-11
3              Brandenburg      24    0  52.00  13.87 2020-03-11
4                   Bremen      21    0  53.10   8.80 2020-03-11
5                  Hamburg      48    0  53.50  10.00 2020-03-11
6                   Hessen      48    0  50.70   9.00 2020-03-11
7   Mecklenburg-Vorpommern      17    0  53.80  12.50 2020-03-11
8            Niedersachsen      75    0  52.57  10.00 2020-03-11
9      Nordrhein-Westfalen     484    3  51.60   7.50 2020-03-11
10         Rheinland-Pfalz      25    0  50.00   7.30 2020-03-11
11                Saarland      14    0  49.40   6.97 2020-03-11
12                 Sachsen      26    0  51.05  13.50 2020-03-11
13          Sachsen-Anhalt      15    0  52.00  11.65 2020-03-11
14      Schleswig-Holstein      27    0  54.20   9.90 2020-03-11
15               Thüringen      10    0  50.85  11.13 2020-03-11
16                  Gesamt    1567    3  51.06  10.00 2020-03-11

In [415]:
df.to_csv ('old_data/brd_covid_19'+str(today)+".csv", index = False, header=True)

In [141]:
#df.to_csv ('brd_covid_19.csv', index = False, header=True)