In [1]:
import requests
import pandas as pd
import re
from bs4 import BeautifulSoup
from datetime import date

In [2]:
df_old = pd.read_csv("brd_covid_19.csv",parse_dates=[7])

In [3]:
df_old = df_old.sort_values(["bundesland", "datum"])
df_old.drop_duplicates(inplace=True)
df_old = df_old.reset_index().drop("index",axis = 1)

In [4]:
today = date.today()

In [5]:
URL = "https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html"

In [6]:
page = requests.get(URL)

In [7]:
soup = BeautifulSoup(page.content, 'html.parser')

In [8]:
results = soup.find_all("tr")

In [9]:
bundesland = [re.sub('<[^<]+?>', '', str(elm.find_all("td")[0])).replace("\xad","").replace("\n","") for idx, elm in enumerate(results) if idx > 1]
faelle = [re.sub('<[^<]+?>', '', str(elm.find_all("td")[1])).replace(".","") for idx, elm in enumerate(results) if idx > 1]
neue_faelle = [re.sub('<[^<]+?>', '', str(elm.find_all("td")[2])).replace(".","").strip("+").strip("*") for idx, elm in enumerate(results) if idx > 1]
faelle_per_capita = [re.sub('<[^<]+?>', '', str(elm.find_all("td")[3])).replace(".","") for idx, elm in enumerate(results) if idx > 1]
tod = [re.sub('<[^<]+?>', '', str(elm.find_all("td")[4])).replace(".","") for idx, elm in enumerate(results) if idx > 1]

In [10]:
lat={"Baden-Württemberg":48.5, "Bayern":48.9, "Berlin":52.5, "Brandenburg":52, "Bremen":53.1, "Hamburg":53.5, 
     "Hessen":50.7, "Mecklenburg-Vorpommern":53.8, "Niedersachsen":52.57, "Nordrhein-Westfalen":51.6,"Rheinland-Pfalz":50, 
     "Saarland":49.4, "Sachsen":51.05, "Sachsen-Anhalt":52, "Schleswig-Holstein":54.2, "Thüringen":50.85, "Gesamt":51.06}
long={"Baden-Württemberg":9, "Bayern":11.4, "Berlin":13.4, "Brandenburg":13.87, "Bremen":8.8, "Hamburg":10, 
      "Hessen":9, "Mecklenburg-Vorpommern":12.5,"Niedersachsen":10, "Nordrhein-Westfalen":7.5,"Rheinland-Pfalz":7.3,
      "Saarland":6.97,"Sachsen":13.5, "Sachsen-Anhalt":11.65,"Schleswig-Holstein":9.9, "Thüringen":11.13,"Gesamt":10}

In [11]:
df=pd.DataFrame(data=[bundesland,faelle,tod,neue_faelle,faelle_per_capita]).T

In [12]:
df["lat"]="NaN"
df["long"]="NaN"
df["date"] = today

In [13]:
df.columns = ["bundesland","faelle","tod","neue_faelle","faelle_per_capita","lat","long","datum"]

In [14]:
df.datum = pd.to_datetime(df.datum)

In [15]:
df.bundesland.replace("Schleswig Holstein","Schleswig-Holstein", inplace=True)
df.tod = df.tod.replace(to_replace = "", value = "0", regex = True)

In [16]:
df["lat"]=[lat[elm] for elm in df.bundesland.values]
df["long"]=[long[elm] for elm in df.bundesland.values]

In [17]:
#df.lat = df.lat.astype("float")
#df.long = df.long.astype("float")

df.tod = df.tod.astype("int64")
df.faelle = df.faelle.astype("int64")
df.neue_faelle = df.neue_faelle.astype("int64")
df.faelle_per_capita = df.faelle_per_capita.astype("float64")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bundesland         17 non-null     object
 1   faelle             17 non-null     int64
 2   tod                17 non-null     int64
 3   neue_faelle        17 non-null     int64
 4   faelle_per_capita  17 non-null     float64
 5   lat                17 non-null     float64
 6   long               17 non-null     float64
 7   datum              17 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 1.2+ KB

In [19]:
df

,bundesland,faelle,tod,neue_faelle,faelle_per_capita,lat,long,datum
0,Baden-Württemberg,14662,241,1252,132.0,48.50,9.00,2020-04-02
1,Bayern,18496,268,1999,141.0,48.90,11.40,2020-04-02
2,Berlin,2970,19,216,79.0,52.50,13.40,2020-04-02
3,Brandenburg,995,7,114,40.0,52.00,13.87,2020-04-02
4,Bremen,327,6,16,48.0,53.10,8.80,2020-04-02
5,Hamburg,2406,14,95,131.0,53.50,10.00,2020-04-02
6,Hessen,3707,27,262,59.0,50.70,9.00,2020-04-02
7,Mecklenburg-Vorpommern,438,3,32,27.0,53.80,12.50,2020-04-02
8,Niedersachsen,4695,45,313,59.0,52.57,10.00,2020-04-02
9,Nordrhein-Westfalen,15427,161,1076,86.0,51.60,7.50,2020-04-02
10,Rheinland-Pfalz,3132,26,233,77.0,50.00,7.30,2020-04-02
11,Saarland,1020,11,191,103.0,49.40,6.97,2020-04-02
12,Sachsen,2183,18,149,54.0,51.05,13.50,2020-04-02
13,Sachsen-Anhalt,804,8,54,36.0,52.00,11.65,2020-04-02
14,Schleswig-Holstein,1335,11,89,46.0,54.20,9.90,2020-04-02
15,Thüringen,925,7,65,43.0,50.85,11.13,2020-04-02
16,Gesamt,73522,872,6156,88.0,51.06,10.00,2020-04-02

In [20]:
pd.concat([df_old,df]).reset_index().drop("index",axis=1).tail(30)

,bundesland,faelle,tod,neue_faelle,faelle_per_capita,lat,long,datum
521,Thüringen,149,0,51,7.0,50.85,11.13,2020-03-20
522,Thüringen,187,0,38,9.0,50.85,11.13,2020-03-21
523,Thüringen,216,0,29,10.0,50.85,11.13,2020-03-22
524,Thüringen,249,0,33,12.0,50.85,11.13,2020-03-23
525,Thüringen,327,1,78,15.0,50.85,11.13,2020-03-24
526,Thüringen,394,1,67,18.0,50.85,11.13,2020-03-25
527,Thüringen,468,3,+74,22.0,50.85,11.13,2020-03-26
528,Thüringen,542,4,74,25.0,50.85,11.13,2020-03-27
529,Thüringen,584,5,42,27.0,50.85,11.13,2020-03-28
530,Thüringen,697,5,113,33.0,50.85,11.13,2020-03-29
531,Thüringen,719,5,22,34.0,50.85,11.13,2020-03-30
532,Thüringen,784,6,65,37.0,50.85,11.13,2020-03-31
533,Thüringen,860,6,76,40.0,50.85,11.13,2020-04-01
534,Baden-Württemberg,14662,241,1252,132.0,48.50,9.00,2020-04-02
535,Bayern,18496,268,1999,141.0,48.90,11.40,2020-04-02
536,Berlin,2970,19,216,79.0,52.50,13.40,2020-04-02
537,Brandenburg,995,7,114,40.0,52.00,13.87,2020-04-02
538,Bremen,327,6,16,48.0,53.10,8.80,2020-04-02
539,Hamburg,2406,14,95,131.0,53.50,10.00,2020-04-02
540,Hessen,3707,27,262,59.0,50.70,9.00,2020-04-02
541,Mecklenburg-Vorpommern,438,3,32,27.0,53.80,12.50,2020-04-02
542,Niedersachsen,4695,45,313,59.0,52.57,10.00,2020-04-02
543,Nordrhein-Westfalen,15427,161,1076,86.0,51.60,7.50,2020-04-02
544,Rheinland-Pfalz,3132,26,233,77.0,50.00,7.30,2020-04-02
545,Saarland,1020,11,191,103.0,49.40,6.97,2020-04-02
546,Sachsen,2183,18,149,54.0,51.05,13.50,2020-04-02
547,Sachsen-Anhalt,804,8,54,36.0,52.00,11.65,2020-04-02
548,Schleswig-Holstein,1335,11,89,46.0,54.20,9.90,2020-04-02
549,Thüringen,925,7,65,43.0,50.85,11.13,2020-04-02
550,Gesamt,73522,872,6156,88.0,51.06,10.00,2020-04-02

In [21]:
df=pd.concat([df_old,df]).reset_index().drop("index",axis=1)

In [22]:
df[df["bundesland"]=="Bayern"]

,bundesland,faelle,tod,neue_faelle,faelle_per_capita,lat,long,datum
34,Bayern,15,0,0,0.10,48.9,11.4,2020-02-28
35,Bayern,15,0,0,0.10,48.9,11.4,2020-02-29
36,Bayern,19,0,4,0.10,48.9,11.4,2020-03-01
37,Bayern,25,0,6,0.20,48.9,11.4,2020-03-02
38,Bayern,35,0,10,0.30,48.9,11.4,2020-03-03
39,Bayern,48,0,13,0.40,48.9,11.4,2020-03-04
40,Bayern,52,0,4,0.40,48.9,11.4,2020-03-05
41,Bayern,79,0,27,0.60,48.9,11.4,2020-03-06
42,Bayern,117,0,38,0.90,48.9,11.4,2020-03-07
43,Bayern,148,0,31,1.10,48.9,11.4,2020-03-08
44,Bayern,256,0,108,2.00,48.9,11.4,2020-03-09
45,Bayern,314,0,58,2.40,48.9,11.4,2020-03-10
46,Bayern,366,0,52,2.80,48.9,11.4,2020-03-11
47,Bayern,500,1,134,3.80,48.9,11.4,2020-03-12
48,Bayern,558,1,58,4.30,48.9,11.4,2020-03-13
49,Bayern,681,1,123,5.20,48.9,11.4,2020-03-14
50,Bayern,886,4,205,6.80,48.9,11.4,2020-03-15
51,Bayern,1067,5,181,8.20,48.9,11.4,2020-03-16
52,Bayern,1109,4,144,8.50,48.9,11.4,2020-03-17
53,Bayern,1243,4,134,9.50,48.9,11.4,2020-03-18
54,Bayern,1692,8,449,12.94,48.9,11.4,2020-03-19
55,Bayern,2401,12,709,18.00,48.9,11.4,2020-03-20
56,Bayern,2960,19,559,23.00,48.9,11.4,2020-03-21
57,Bayern,3650,21,690,28.00,48.9,11.4,2020-03-22
58,Bayern,4892,26,1242,37.00,48.9,11.4,2020-03-23
59,Bayern,5754,30,862,44.00,48.9,11.4,2020-03-24
60,Bayern,6558,37,804,50.00,48.9,11.4,2020-03-25
61,Bayern,7993,47,+1435,61.00,48.9,11.4,2020-03-26
62,Bayern,9481,55,1488,73.00,48.9,11.4,2020-03-27
63,Bayern,11150,77,1669,85.00,48.9,11.4,2020-03-28
64,Bayern,12881,107,1731,99.00,48.9,11.4,2020-03-29
65,Bayern,13989,127,1108,107.00,48.9,11.4,2020-03-30
66,Bayern,14810,162,821,113.00,48.9,11.4,2020-03-31
67,Bayern,16497,225,1687,126.00,48.9,11.4,2020-04-01
535,Bayern,18496,268,1999,141.00,48.9,11.4,2020-04-02

In [23]:
df_old.to_csv ('old_data/brd_covid_19'+str(today)+".csv", index = False, header=True)

In [24]:
df.to_csv ('brd_covid_19.csv', index = False, header=True)