In [1]:
import requests
import pandas as pd
import re
from bs4 import BeautifulSoup
from datetime import date

In [2]:
df_old = pd.read_csv("brd_covid_19.csv",parse_dates=[7])

In [3]:
df_old = df_old.sort_values(["bundesland", "datum"])

df_old.drop_duplicates(inplace=True)

df_old = df_old.reset_index().drop("index",axis = 1)

In [4]:
today = date.today()

In [5]:
URL = "https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html"

In [6]:
page = requests.get(URL)

In [7]:
soup = BeautifulSoup(page.content, 'html.parser')

In [8]:
results = soup.find_all("tr")

In [9]:
bundesland = []
faelle = []
tod = []
neue_faelle=[]
faelle_per_capita=[]
for idx,elm in enumerate(results):
    if idx > 1:
        bundesland.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[0])))
        faelle.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[1])))
        neue_faelle.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[2])))
        faelle_per_capita.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[3])))
        tod.append(re.sub('<[^<]+?>', '', str(elm.find_all("td")[4])))
    else:
        pass

In [10]:
bundesland =  [elm.replace("\xad","") for elm in bundesland]
faelle = [int(elm.replace(".","")) for elm in faelle]
tod = [int(elm.replace(".","")) for elm in tod]
neue_faelle = [int(elm.strip("+").replace(".","")) for elm in neue_faelle]
faelle_per_capita = [float(elm.replace(",",".")) for elm in faelle_per_capita]

In [12]:
lat={"Baden-Württemberg":48.5, "Bayern":48.9, "Berlin":52.5, "Brandenburg":52, "Bremen":53.1, "Hamburg":53.5, 
     "Hessen":50.7, "Mecklenburg-Vorpommern":53.8, "Niedersachsen":52.57, "Nordrhein-Westfalen":51.6,"Rheinland-Pfalz":50, 
     "Saarland":49.4, "Sachsen":51.05, "Sachsen-Anhalt":52, "Schleswig-Holstein":54.2, "Thüringen":50.85, "Gesamt":51.06}
long={"Baden-Württemberg":9, "Bayern":11.4, "Berlin":13.4, "Brandenburg":13.87, "Bremen":8.8, "Hamburg":10, 
      "Hessen":9, "Mecklenburg-Vorpommern":12.5,"Niedersachsen":10, "Nordrhein-Westfalen":7.5,"Rheinland-Pfalz":7.3,
      "Saarland":6.97,"Sachsen":13.5, "Sachsen-Anhalt":11.65,"Schleswig-Holstein":9.9, "Thüringen":11.13,"Gesamt":10}

In [13]:
df=pd.DataFrame(data=[bundesland,faelle,tod,neue_faelle,faelle_per_capita]).T

In [16]:
df["lat"]="NaN"
df["long"]="NaN"
df["date"] = today

In [17]:
df.columns = ["bundesland","faelle","tod","neue_faelle","faelle_per_capita","lat","long","datum"]

In [18]:
#df.tod = df.tod.replace(to_replace = "", value = "0", regex = True)

In [19]:
df.datum = pd.to_datetime(df.datum)

In [20]:
df.bundesland.values

array(['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen',
       'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen',
       'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen', 'Gesamt'],
      dtype=object)

In [21]:
df.bundesland.replace("Schleswig Holstein","Schleswig-Holstein", inplace=True)
lat2=[]
long2=[]
for elm in df.bundesland.values:
    lat2.append(lat[elm])
    long2.append(long[elm])

In [22]:
df["lat"] = lat2
df["long"] = long2

In [23]:
df

,bundesland,faelle,tod,neue_faelle,faelle_per_capita,lat,long,datum
0,Baden-Württemberg,3668,16,922,33,48.50,9.00,2020-03-21
1,Bayern,2960,19,559,23,48.90,11.40,2020-03-21
2,Berlin,866,1,135,23,52.50,13.40,2020-03-21
3,Brandenburg,254,0,62,10,52.00,13.87,2020-03-21
4,Bremen,142,0,21,21,53.10,8.80,2020-03-21
5,Hamburg,587,0,1,32,53.50,10.00,2020-03-21
6,Hessen,1080,2,267,17,50.70,9.00,2020-03-21
7,Mecklenburg-Vorpommern,165,0,34,10,53.80,12.50,2020-03-21
8,Niedersachsen,1023,0,220,13,52.57,10.00,2020-03-21
9,Nordrhein-Westfalen,3542,6,45,20,51.60,7.50,2020-03-21
10,Rheinland-Pfalz,938,1,137,23,50.00,7.30,2020-03-21
11,Saarland,187,0,41,19,49.40,6.97,2020-03-21
12,Sachsen,567,0,173,14,51.05,13.50,2020-03-21
13,Sachsen-Anhalt,188,0,8,9,52.00,11.65,2020-03-21
14,Schleswig-Holstein,308,1,42,11,54.20,9.90,2020-03-21
15,Thüringen,187,0,38,9,50.85,11.13,2020-03-21
16,Gesamt,16662,46,2705,20,51.06,10.00,2020-03-21

In [24]:
#df.lat = df.lat.astype("float")
#df.long = df.long.astype("float")
df.tod = df.tod.astype("int64")
df.faelle = df.faelle.astype("int64")
df.neue_faelle = df.neue_faelle.astype("int64")
df.faelle_per_capita = df.faelle_per_capita.astype("float64")

In [25]:
pd.concat([df_old,df]).reset_index().drop("index",axis=1)

,bundesland,faelle,tod,neue_faelle,faelle_per_capita,lat,long,datum
0,Baden-Württemberg,10,0,0,0.1,48.50,9.00,2020-02-28
1,Baden-Württemberg,14,0,4,0.1,48.50,9.00,2020-02-29
2,Baden-Württemberg,15,0,1,0.1,48.50,9.00,2020-03-01
3,Baden-Württemberg,19,0,4,0.2,48.50,9.00,2020-03-02
4,Baden-Württemberg,26,0,7,0.2,48.50,9.00,2020-03-03
...,...,...,...,...,...,...,...,...
342,Sachsen,567,0,173,14.0,51.05,13.50,2020-03-21
343,Sachsen-Anhalt,188,0,8,9.0,52.00,11.65,2020-03-21
344,Schleswig-Holstein,308,1,42,11.0,54.20,9.90,2020-03-21
345,Thüringen,187,0,38,9.0,50.85,11.13,2020-03-21
346,Gesamt,16662,46,2705,20.0,51.06,10.00,2020-03-21

In [26]:
df=pd.concat([df_old,df]).reset_index().drop("index",axis=1)

In [27]:
df[df["bundesland"]=="Bayern"]

,bundesland,faelle,tod,neue_faelle,faelle_per_capita,lat,long,datum
22,Bayern,15,0,0,0.10,48.9,11.4,2020-02-28
23,Bayern,15,0,0,0.10,48.9,11.4,2020-02-29
24,Bayern,19,0,4,0.10,48.9,11.4,2020-03-01
25,Bayern,25,0,6,0.20,48.9,11.4,2020-03-02
26,Bayern,35,0,10,0.30,48.9,11.4,2020-03-03
27,Bayern,48,0,13,0.40,48.9,11.4,2020-03-04
28,Bayern,52,0,4,0.40,48.9,11.4,2020-03-05
29,Bayern,79,0,27,0.60,48.9,11.4,2020-03-06
30,Bayern,117,0,38,0.90,48.9,11.4,2020-03-07
31,Bayern,148,0,31,1.10,48.9,11.4,2020-03-08
32,Bayern,256,0,108,2.00,48.9,11.4,2020-03-09
33,Bayern,314,0,58,2.40,48.9,11.4,2020-03-10
34,Bayern,366,0,52,2.80,48.9,11.4,2020-03-11
35,Bayern,500,1,134,3.80,48.9,11.4,2020-03-12
36,Bayern,558,1,58,4.30,48.9,11.4,2020-03-13
37,Bayern,681,1,123,5.20,48.9,11.4,2020-03-14
38,Bayern,886,4,205,6.80,48.9,11.4,2020-03-15
39,Bayern,1067,5,181,8.20,48.9,11.4,2020-03-16
40,Bayern,1109,4,144,8.50,48.9,11.4,2020-03-17
41,Bayern,1243,4,134,9.50,48.9,11.4,2020-03-18
42,Bayern,1692,8,449,12.94,48.9,11.4,2020-03-19
43,Bayern,2401,12,709,18.00,48.9,11.4,2020-03-20
331,Bayern,2960,19,559,23.00,48.9,11.4,2020-03-21

In [28]:
df_old.to_csv ('old_data/brd_covid_19'+str(today)+".csv", index = False, header=True)

In [29]:
df.to_csv ('brd_covid_19.csv', index = False, header=True)